<!DOCTYPE html>
<html>
<head>
	<title>Try Your Luck</title>
</head>
<body>
	<div class="try-your-luck-gif"></div>

	<div id="layer">
		<div id="layer-bg">
			<div class="layer-bg-tablebg"></div>
			<div class="layer-bg-tableborder"></div>
		</div>
		<canvas id="layer-stage" width="768" height="480"></canvas>
	</div>

	<div class="ranking-container">
		<div class="ranking-row-header">
			<p>Lucky Players</p>
		</div>
		<div class="ranking-row-players">
			<p>1</p>
			<p>Player 1</p>
		</div>
		<div class="ranking-row-players">
			<p>2</p>
			<p>Player 2</p>
		</div>
		<div class="ranking-row-players">
			<p>3</p>
			<p>Player 3</p>
		</div>
		<div class="ranking-row-players">
			<p>4</p>
			<p>Player 4</p>
		</div>
		<div class="ranking-row-players">
			<p>5</p>
			<p>Player 5</p>
		</div>
		<div class="ranking-row-players">
			<p>6</p>
			<p>Player 6</p>
		</div>
		<div class="ranking-row-players">
			<p>7</p>
			<p>Player 7</p>
		</div>
		<div class="ranking-row-players">
			<p>8</p>
			<p>Player 8</p>
		</div>
	</div>

	<div class="menu-cont">
		<div id="gStart" class="menu-start">
			<p>Start</p>
		</div>
		<div id="gNewPlayer" class="menu-new-player">
			<p>New Player</p>
		</div>
		<input id="gInputNewPlayer" class="menu-new-player-input" type="text" placeholder="type your name here...">
	</div>

	<div class="info-board">
		<div class="info-board-name">
			<p>Name:</p>
			<p id="gName">Player 1</p>
		</div>
		<div class="info-board-score">
			<p>Score:</p>
			<p id="gScore">0</p>
		</div>
	</div>
</body>
</html>