<!DOCTYPE html>
<html>
<head>
	<title>Try Your Luck</title>
</head>
<body>
	<!-- [S] -->
	<button id="gStart">Start</button>
	<button id="gReset">Reset</button>
	<button id="gNewPlayer">New Player</button>
	<!-- [E] -->

	<div id="layer">
		<div id="layer-bg">
			<div class="layer-bg-tablebg"></div>
			<div class="layer-bg-tableborder"></div>
		</div>
		<canvas id="layer-stage" width="768" height="480"></canvas>
	</div>

	<div class="ranking-container">
		<div class="ranking-row-header">
			<p>Lucky Players</p>
		</div>
		<div class="ranking-row-players">
			<p>1</p>
			<p>Emmanuel</p>
		</div>
		<div class="ranking-row-players">
			<p>2</p>
			<p>Elena</p>
		</div>
		<div class="ranking-row-players">
			<p>3</p>
			<p>Bobi</p>
		</div>
		<div class="ranking-row-players">
			<p>4</p>
			<p>Romilyn</p>
		</div>
		<div class="ranking-row-players">
			<p>5</p>
			<p>Sarah</p>
		</div>
		<div class="ranking-row-players">
			<p>6</p>
			<p>BJ</p>
		</div>
		<div class="ranking-row-players">
			<p>7</p>
			<p>Goku</p>
		</div>
		<div class="ranking-row-players">
			<p>8</p>
			<p>Troy</p>
		</div>
	</div>
</body>
</html>